#.env example
#rename this file .env and adapt it
NODE_ENV=development
PORT=3000
HOST=localhost
http_proxy=http://www-cache.iutnc.univ-lorraine.fr:3128
https_proxy=http://www-cache.iutnc.univ-lorraine.fr:3128